/* ----- Custom checkboxes, radios ----- */


/*  wrapper divs */

.custom-checkbox,
.custom-radio {
    position: relative;
}


/* input, label positioning */

.custom-checkbox input {
    position: absolute;
    left: 2px;
    top: 2px;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: Alpha(opacity=0);
}

.custom-checkbox label {
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    padding-right: 1em;
    line-height: 1;
    padding: .3em 0 .5em 30px;
    margin: 0 0 .3em;
    cursor: pointer;
}


/* states */

// .custom-checkbox label{background:url(../_images/green.png) no-repeat;}
// .custom-radio label{background:url(../_images/green.png) no-repeat;}
// .custom-checkbox label{background-position:-1px 5px;}
// .custom-radio label{background-position:-1px -115px;}
.custom-checkbox .mcheck-checkbox.hover {
    background-position: -1px -20px;
}

.custom-radio .mcheck-radio.hover {
    background-position: -1px -138px;
}

.custom-checkbox .mcheck-checkbox.checked {
    background-position: -1px -44px;
}

.custom-radio .mcheck-radio.checked {
    background-position: -1px -163px;
}

.custom-checkbox label.checkedHover,
.custom-checkbox label.checkedFocus {
    background-position: -1px -44px;
}


/* .custom-checkbox label.focus,.custom-radio label.focus{outline:1px dotted #ccc;} */


/* input, label positioning */

.custom-radio input {
    position: absolute;
    left: 2px;
    top: 2px;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    filter: Alpha(opacity=0);
}

.custom-radio label {
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    padding-right: 1em;
    line-height: 1;
    padding: .3em 0 .5em 30px;
    margin: 0 0 .3em;
    cursor: pointer;
}

.mcheck-checkbox,
.mcheck-radio {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background: url(../_images/green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.mcheck-checkbox {
    background-position: -1px 5px;
}

.mcheck-radio {
    background-position: -1px -115px;
}


/* ---- toggle button examples ---- */

#view {
    width: 140px;
    display: block;
}

#view .custom-checkbox,
#view .custom-radio {
    width: 50%;
    float: left;
}

#show {
    width: 250px;
    display: block;
    clear: left;
}

#show .custom-checkbox,
#show .custom-radio {
    width: 33%;
    float: left;
}

.toggle label {
    border-collapse: collapse;
}

.toggle .custom-checkbox label,
.toggle .custom-radio label {
    padding: .4em 1em;
    border: 1px solid #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    width: auto;
    overflow: visible;
    background: #459e00 url(../_images/button-green.gif) no-repeat left center;
    color: #fff;
    border-color: #2d7406;
    text-shadow: -1px -1px 0 #37730e;
}

.toggle .custom-checkbox label.hover,
.toggle .custom-checkbox label.focus,
.toggle .custom-radio label.hover,
.toggle .custom-radio label.focus {
    background-position: right center;
    border-color: #205b00;
}

.toggle .custom-checkbox label.checked,
.toggle .custom-radio label.checked,
.toggle .custom-checkbox label.checkedHover,
.toggle .custom-checkbox label.checkedFocus {
    background: #2d7406;
    border-color: #2d7406;
}

.toggle .first label {
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}

.toggle .last label {
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}